<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>API Documentation</title>
</head>
<body>
  <h1>Welocme to our API</h1>
  <h2>/api/students</h2>
  <p>Returns a list of all student data in the system</p>
  <h2>/api/student</h2>
  <p>Returns data for a student defined by the name property in the urls query</p>
  <h2>/api/movie</h2>
  <p>Returns data for a movie defined by the title property in the urls query</p>
</body>
</html>